{% if option.show_portfolio %}
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ option.portfolio_title }}</h2>
                    <h3 class="section-subheading text-muted">{{ option.portfolio_subtitle }}</h3>
                </div>
            </div>
            <div class="row">
                {% for portfolio_item in option.portfolio_items %}
                    <div class="{{ loop.length|bootstrapCol }} portfolio-item">
                        <a href="#portfolioModal{{ loop.index }}" class="portfolio-link" data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{TimberImage(portfolio_item.image).src}}" class="img-responsive" alt="Portfolio image for {{ portfolio_item.project_title }}"/>
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ portfolio_item.customer_name }}</h4>
                            <p class="text-muted">{{ portfolio_item.category }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->

    {% for portfolio_item in option.portfolio_items %}
        <div class="portfolio-modal modal fade" id="portfolioModal{{ loop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>{{ portfolio_item.title }}</h2>
                                <p class="item-intro text-muted">{{ portfolio_item.subtitle }}</p>
                                <img src="{{TimberImage(portfolio_item.image).src}}" class="img-responsive img-centered" alt="Portfolio image for {{ portfolio_item.project_title }}"/>
                                {{ portfolio_item.description }}
                                <ul class="list-inline">
                                    <li>Date: {{ portfolio_item.date }}</li>
                                    <li>Client: {{ portfolio_item.client_name }}</li>
                                    <li>Category: {{ portfolio_item.category }}</li>
                                </ul>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}