{% if option.show_contact %}
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ option.contact_title }}</h2>
                    <h3 class="section-subheading text-muted">
                        {{ option.contact_subtitle }}
                    </h3>

                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="section-subheading">
                                {{ option.contact_blurb }}
                            </div>
                            <p>
                                <i class="fa fa-phone"></i> {{ option.phone_number }}
                            </p>
                            <p>
                                <i class="fa fa-envelope"></i> <a href="mailto:{{ option.email }}">{{ option.email }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}