<li class="hidden">
	<a href="/"></a>
</li>
{% if option.show_services %}
	<li class="menu-item-has-children">
		<a class="page-scroll" href="{{ menu_slash }}#services">
			{{ option.services_menu_text }}
			{% if not option.services_menu_text %}
				{{option.services_title}}
			{% endif %}
		</a>
		{% if option.service_links %}
			<ul>
				{% for item in option.services %}
					{% if item.page %}
						<li>
							<a href="{{ item.page }}">
								{{ item.name }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endif %}
{% if option.show_portfolio %}
	<li class="menu-item-has-children">
		<a class="page-scroll" href="{{ menu_slash }}#portfolio">
			{{ option.portfolio_menu_text }}
			{% if not option.portfolio_menu_text %}
				{{option.portfolio_title}}
			{% endif %}
		</a>

		{% if  portfolio_items %}
			<ul>
			{% for item in portfolio_items %}
				<li>
					<a href="{{ item | permalink }}">
						{{ item.menu_title }}
						{% if not item.menu_title %}
							{{item.post_title}}
						{% endif %}
					</a>
				</li>
			{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endif %}
{% if option.show_timeline %}
	<li>
		<a class="page-scroll" href="{{ menu_slash }}#timeline">
			{{ option.portfolio_menu_text }}
			{% if not option.portfolio_menu_text %}
				{{option.portfolio_title}}
			{% endif %}
		</a>
	</li>
{% endif %}
{% if option.show_team %}
	<li>
		<a class="page-scroll" href="{{ menu_slash }}#team">
			{{ option.team_menu_text }}
			{% if not option.team_menu_text %}
				{{option.team_title}}
			{% endif %}
		</a>
	</li>
{% endif %}
{% if option.show_contact %}
	<li>
		<a class="page-scroll" href="{{ menu_slash }}#contact">
			{{ option.contact_menu_text }}
			{% if not option.contact_menu_text %}
				{{option.contact_title}}
			{% endif %}
		</a>
	</li>
{% endif %}
