{% extends "base.twig" %}

{% block content %}

	<!-- Page Header -->
	<header class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>
							{{page.title}}
						</h1>
						<hr class="small">
						<span class="meta">
							{{ page.subtitle }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content -->
	<article class="container portfolio">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<a href="{{ page.client_site }}" target="_blank">
					<img src="{{ page.thumbnail.src | resize(720, 400) }}" class="img-responsive img-centered" srcset="
						{{ page.thumbnail.src | resize(720, 400)   | retina(1) }}  1x,
						{{ page.thumbnail.src | resize(1440, 800)  | retina(2) }}  2x,
						{{ page.thumbnail.src | resize(2160, 1200) | retina(3) }}  3x
						">
				</a>
				{{ page.content }}
			</div>
		</div>
	</article>
	{% include "contact.twig" %}
{% endblock %}
