{% extends "base.twig" %}

{% block content %}

	<!-- Page Header -->
	<header class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>
							{{page.title}}
						</h1>
						<hr class="small">
						<span class="meta">
							{{ page.subtitle }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content -->
	<article>
			<div class="portfolio">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							{% if page.client_site %}
								<a href="{{ page.client_site }}" target="_blank">
									{{ page|full_image("img-responsive", "Portfolio image for"~portfolio_item.project_title)}}
								</a>
							{% else %}
								<img src="{{page.thumbnail.src}}" class="img-responsive img-centered" alt="Portfolio image for {{ portfolio_item.project_title }}"/>
							{% endif %}
							{{ page.content }}
						</div>
					</div>
				</div>
			</div>
	</article>
	{% include "contact.twig" %}
{% endblock %}
