{% extends "base.twig" %}

{#{% block head %}#}
{#<!-- JSON-LD Data for Google Rich Snippets-->#}
	{#<script type="application/ld+json">#}
	{#{#}
		{#"@context": "http://schema.org",#}
		{#"@type": "Product",#}
		{#"name": "{{ service.title }}",#}
		{#"description": "{{ service.subtitle }}",#}
		{#"offers": [#}
			{#{#}
				{#"@type": "Offer",#}
				{#"category": "Entry Level",#}
				{#"availability": "http://schema.org/InStock",#}
				{#"priceSpecification":{#}
					{#"price": "10.00",#}
					{#"priceCurrency": "CAD"#}
				{#}#}
			{#},#}
			{#{#}
				{#"@type": "Offer",#}
				{#"category": "High End",#}
				{#"availability": "http://schema.org/InStock",#}
				{#"priceSpecification":{#}
					{#"price": "50.00",#}
					{#"priceCurrency": "CAD"#}
				{#}#}
			{#}#}
		{#]#}
	{#}#}
	{#</script>#}
{#{% endblock %}#}

{% block content %}
	<!-- Page Header -->
	<header class="intro-header" style="">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>
							{{service.title}}
						</h1>
						{% if service.subtitle %}
							<hr class="small">
							<span class="meta">
								{{ service.subtitle }}
							</span>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

					{{ TimberImage(post.gallery[1]) }}
					{{service.content}}
				</div>
			</div>
		</div>
	</article>
	{% include "contact.twig" %}

{% endblock %}
