{% if page.show_portfolio %}
    <section id="portfolio" class="alternating-light-gray">
        <div class="container">
            <div class="row">
                <header class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ page.portfolio_title }}</h2>
                    {% if  page.portfolio_subtitle%}
                        <h3 class="section-subheading text-muted">{{ page.portfolio_subtitle }}</h3>
                    {% endif %}
                </header>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
                    {{page.get_field('portfolio_blurb')}}
                </div>
            </div>
            <div class="row">
                <!--googleoff: all-->
                {% for item in portfolio_items %}
                    <div class="{{ loop.length | bootstrapCol }} portfolio-item">
                        <a href="{{ item | permalink }}" class="portfolio-link">
                            <figure>
                                <figcaption class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        {{ item.menu_title }}
                                    </div>
                                </figcaption>
                                <img src="{{ item.featured_image.src | resize(360, 200) }}" class="img-responsive" srcset="
                                    {{ item.featured_image.src | resize(360, 200)  | retina(1) }}  1x,
                                    {{ item.featured_image.src | resize(720, 400)  | retina(2) }}  2x,
                                    {{ item.featured_image.src | resize(1080, 600) | retina(3) }}  "
                                     alt="Portfolio image for {{ item.post_title }}, {{ item.subtitle }}">
                            </figure>
                        </a>
                    </div>
                {% endfor %}
                <!--googleon: all-->
            </div>
        </div>
    </section>
    <!-- Portfolio Modals -->
{% endif %}