{% if page.show_services %}
    <section id="services" class="alternating-light-gray">
        <div class="container">
            <div class="row">
                <header class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ page.services_title }}</h2>
                    {% if  page.services_subtitle %}
                        <h3 class="section-subheading text-muted">{{ page.services_subtitle }}</h3>
                    {% endif %}
                </header>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {{page.get_field('services_blurb')}}
                </div>
            </div>
            <div class="row text-center">
                {% for service in service_items %}
                    <a href="{{ service | permalink }}">
                        <div class="{{ loop.length|bootstrapCol }}">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa {{ service.icon }} fa-stack-1x fa-inverse"></i>
                            </span>
                            <h3 class="service-heading">
                                {{ service.post_title }}
                            </h3>
                            <p>
                                {{ service.blurb }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}