{% if page.show_team %}
    <section id="team" class="alternating-light-gray">
        <div class="container">
            <div class="row">
                <header class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ page.team_title }}</h2>
                    {% if  page.team_subtitle%}
                        <h3 class="section-subheading text-muted">
                            {{ page.team_subtitle }}
                        </h3>
                    {% endif %}
                </header>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 blurb">
                    {{page.get_field('team_blurb')}}
                </div>
            </div>
            <div class="row">
                {% for team_member in team_members %}
                    <div class="{{ loop.length|bootstrapCol }}">
                        <figure class="team-member">
                            <img src="{{ TimberImage(team_member.picture).src | resize(200, 200) }}" class="img-responsive img-circle"
                                 alt="Profile picture for {{ team_member.name }}"
                                 srcset="
                                {{ TimberImage(team_member.picture).src | resize(200, 200)  | retina(1) }}  1x,
                                {{ TimberImage(team_member.picture).src | resize(400, 400)  | retina(2) }}  2x,
                                {{ TimberImage(team_member.picture).src | resize(600, 600) | retina(3) }}  3x,
                                {{ TimberImage(team_member.picture).src | resize(800, 800) | retina(4) }}  4x">

                            <h3 class="caption-heading">{{ team_member.name }}</h3>
                            <figcaption class="text-center">
                                <p class="text-muted">{{ team_member.role }}</p>
                                <div class="caption-text">
                                    {{ team_member.bio }}
                                </div>
                            </figcaption>

                            <ul class="list-inline social-buttons">
                                {% if team_member.twitter %}
                                    <li><a href="{{ team_member.twitter }}"><i class="fa fa-twitter-square"></i></a>
                                    </li>
                                {% endif %}
                                {% if team_member.facebook %}
                                    <li><a href="{{ team_member.facebook }}"><i class="fa fa-facebook-square"></i></a>
                                    </li>
                                {% endif %}
                                {% if team_member.linkedin %}
                                    <li><a href="{{ team_member.linkedin }}"><i class="fa fa-linkedin-square "></i></a>
                                    </li>
                                {% endif %}
                                {% if team_member.github %}
                                    <li><a href="{{ team_member.github }}"><i class="fa fa-github-square "></i></a>
                                    </li>
                                {% endif %}
                                {% if team_member.stack_overflow %}
                                    <li><a href="{{ team_member.stack_overflow }}"><i class="fa fa-stack-exchange "></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </figure>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}