

{% if front_page.show_services_in_menu %}
    <li class="menu-item-has-children">
        <a class="page-scroll" href="{{ menu_slash }}#services">
            {{ front_page.services_menu_text }}
        </a>
        {% if  service_items %}
            <ul>
                {% for item in service_items %}
                    <li>
                        <a href="{{ item | permalink }}">
                            {{ item.menu_title }}
                            {% if not item.menu_title %}
                                {{item.post_title}}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}

{% if front_page.show_portfolio_in_menu %}
    <li class="menu-item-has-children">
        <a class="page-scroll" href="{{ menu_slash }}#portfolio">
            {{ front_page.portfolio_menu_text }}
        </a>
        {% if  portfolio_items %}
            <ul>
                {% for item in portfolio_items %}
                    <li>
                        <a href="{{ item | permalink }}">
                            {{ item.menu_title }}
                            {% if not item.menu_title %}
                                {{item.post_title}}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}
{% if front_page.show_team_in_menu %}
    <li>
        <a class="page-scroll" href="{{ menu_slash }}#team">
            {{ front_page.team_menu_text }}
        </a>
    </li>
{% endif %}