{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{% if isFrontPage %}
	{% set brand_link = "#page-top" %}
{% else %}
	{% set brand_link = "/" %}
	{% set menu_slash = "/" %}
{% endif %}


<body class="{{body_class}} {{ white_header }}" data-template="base.twig">
	<!-- Navigation -->
		{% include "navbar/navbar.twig" %}
	<div id="content" role="main" class="content-wrapper">
		<div class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}
	</div>
	{% block footer %}
		{% include 'footer.twig' %}
		{{ function('wp_footer') }}
	{% endblock %}
	<div id="backdrop" class="modal-backdrop fade" style="display: none;"></div>
</body>
</html>
