{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{% if isFrontPage %}
	{% set brand_link = "#page-top" %}
{% else %}
	{% set brand_link = "/" %}
	{% set menu_slash = "/" %}
{% endif %}

{#{% if TimberImage(option.hero_image).src %}#}
	{#{% set heroImage = TimberImage(option.hero_image).src %}#}
{#{% else %}#}
	{#{% set heroImage = site.theme.link~"/static/img/header-bg.jpg" %}#}
{#{% endif %}#}

<body class="{{body_class}} {{ white_header }}" data-template="base.twig">
	<!-- Navigation -->
	<nav id="nav-main" role="navigation" class="navbar navbar-default navbar-fixed-top nav-main">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" id="toggleMenu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand page-scroll" href="/">{{site.name}}</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-mobilized">
				<ul class="nav navbar-nav navbar-right">
					{% block menu_items %}
						{% include "menu-items.twig" %}
						{% for item in menu.get_items %}
							<li class="{{item.classes | join(' ')}}">
								<a href="{{item.get_link}}" class="page-scroll"> {{item.title}}</a>
								{% include "menu.twig" with {'menu': item.get_children} %}
							</li>
						{% endfor %}
					{% endblock %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div id="content" role="main" class="content-wrapper">
		<div class="wrapper {{sidebar_class}}">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
		{% if sidebar %}
			<aside class="layout-sidebar">
				{{sidebar}}
			</aside>
		{% endif %}
	</div>
	{% block footer %}
		<footer id="footer">
			{% include 'footer.twig' %}
		</footer>
		{{ function('wp_footer') }}
	{% endblock %}

	<!-- Bootstrap Core JavaScript -->
	<script src="{{site.theme.link}}/static/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="{{site.theme.link}}/static/js/classie.js"></script>
	<script src="{{site.theme.link}}/static/js/cbpAnimatedHeader.js"></script>

	<!-- Contact Form JavaScript -->

	<!-- Custom Theme JavaScript -->
	<script src="{{site.theme.link}}/static/js/agency.js"></script>
	<div id="backdrop" class="modal-backdrop fade" style="display: none;"></div>
</body>
</html>
