{% include "contact.twig" %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">
                    {% if theme.theme_mod('copyright_text') %}
                        {{ theme.theme_mod('copyright_text') }}
                    {%  else %}
                        Copyright &copy; {{ site.name }} {{"now"|date('Y')}}
                    {% endif %}
                </span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% if theme.theme_mod('twitter') %}
                        <li><a href="{{ theme.theme_mod('twitter') }}"><i class="fa fa-twitter"></i></a>
                        </li>
                    {% endif %}
                    {% if theme.theme_mod('facebook') %}
                        <li><a href="{{ theme.theme_mod('facebook') }}"><i class="fa fa-facebook"></i></a>
                        </li>
                    {% endif %}
                    {% if theme.theme_mod('linkedin') %}
                        <li><a href="{{ theme.theme_mod('linkedin') }}"><i class="fa fa-linkedin"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {% for link in theme.theme_mod('footer-links') %}
                        <li>
                            <a href="{{ link.url }}" target="_blank">
                                {{ link.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>