{% extends "base.twig" %}

{% block head %}
	<link href="{{site.theme.link}}/static/css/internal.css" rel="stylesheet">
{% endblock %}
{% block content %}


	<!-- Page Header -->
	<header class="intro-header" style="">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="page-heading">
						<h1>
							{{page.title}}
						</h1>
						{% if page.subtitle %}
							<hr class="small">
							<span class="meta">
								{{ page.subtitle }}
							</span>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</header>
	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

					{{ TimberImage(post.gallery[1]) }}
					{{page.content}}
				</div>
			</div>
		</div>
	</article>
	<hr>
{% endblock %}
