{% extends "base.twig" %}

{% block head %}
	<link href="{{site.theme.link}}/static/css/blog.css" rel="stylesheet">
{% endblock %}
{% block content %}


	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	{% set backgroundImageURL = heroImage %}
	<header class="intro-header" style="background-image: url( {{ backgroundImageURL }} )">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1>
							{{post.title}}
						</h1>
						<span class="meta">By <a href="{{post.author.path}}"> {{ post.author.name }} </a> on {{ post.post_date|date}}</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{{post.content}}
				</div>
			</div>
		</div>
	</article>
	<hr>
{% endblock %}
