{% if option.show_contact %}
    {#<section id="contact" style="background-image: url({{site.theme.link}}/static/img/map-image.png)">#}
    <section id="contact" class="alternating-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ option.contact_title }}</h2>
                    <hr class="small">
                    <div class="section-subheading text-muted">
                        {{ option.contact_blurb}}
                    </div>
                </div>
            </div>
            <div class="row hide-mobile">
                <div class="col-xs-6 col-md-4 col-md-offset-2">
                    <i class="fa fa-phone fa-3x"></i>
                    <p>
                        <a href="tel:{{ option.phone_number }}">
                            {{ option.phone_number }}
                        </a>
                    </p>
                </div>
                <div class="col-xs-6 col-md-4">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <p>
                        <a href="mailto:{{ option.email }}">{{ option.email }}</a>
                    </p>
                </div>
            </div>
            <div class="row show-mobile">
                    <a href="tel:{{ option.email }}">
                        <div  class="btn btn-primary col-xs-4 col-xs-offset-1">

                            <i class="fa fa-phone fa-3x"></i>
                            <p>
                                Call Us
                            </p>
                        </div>
                    </a>
                    <a href="mailto:{{ option.email }}">
                        <div class="col-xs-4 col-xs-offset-2 btn btn-primary">
                            <i class="fa fa-envelope-o fa-3x"></i>
                            <p>
                                Email Us
                            </p>
                        </div>
                    </a>
                </div>
        </div>
    </section>
{% endif %}



{#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#<form id="contactForm">#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<input type="hidden" name="is_email" value="true">#}
                                {#<div class="form-group">#}
                                    {#<input type="text" class="form-control" placeholder="Your Name *" name="contact_name" required#}
                                           {#data-validation-required-message="Please enter your name.">#}
                                    {#<p class="help-block text-danger"></p>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<input type="email" class="form-control" placeholder="Your Email *" name="contact_email_address"#}
                                           {#required#}
                                           {#data-validation-required-message="Please enter your email address.">#}
                                    {#<p class="help-block text-danger"></p>#}
                                {#</div>#}
                                {#<div class="form-group">#}
                                    {#<input type="tel" class="form-control" placeholder="Your Phone *" name="contact_phone_number" required data-validation-required-message="Please enter your phone number.">#}
                                    {#<p class="help-block text-danger"></p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<div class="form-group">#}
                                    {#<textarea class="form-control" placeholder="Your Message *" name="message" required data-validation-required-message="Please enter a message."></textarea>#}
                                    {#<p class="help-block text-danger"></p>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="clearfix"></div>#}
                            {#<div class="col-lg-12 text-center">#}
                                {#<div class="bs-callout bs-callout-success" id="success-message">#}
                                    {#<h4>#}
                                        {#Success#}
                                    {#</h4>#}
                                    {#<p>#}
                                        {#Your message has been sent. Check your inbox for a confirmation.#}
                                    {#</p>#}
                                {#</div>#}
                                {#<div class="bs-callout bs-callout-danger" id="error-message">#}
                                    {#<h4>#}
                                        {#Woops#}
                                    {#</h4>#}
                                    {#<p>#}
                                        {#Looks like something went wrong and we may not have gotten your message.#}
                                    {#</p>#}
                                {#</div>#}
                                {#<div class="bs-callout bs-callout-warning" id="warning-message">#}
                                    {#<h4>#}
                                        {#That doesn't look right#}
                                    {#</h4>#}
                                    {#<p>#}
                                        {#It looks like you didn't fill out the form correctly, why not give it another look.#}
                                    {#</p>#}
                                {#</div>#}
                                {#<button type="submit" class="btn btn-xl">Send Message</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}